[Desktop Entry]
Comment=
Exec=/usr/bin/habbo-launcher-launcher/Script.py
GenericName=
Icon=/usr/bin/habbo-launcher-launcher/icon.png
Name=Habbo Launcher
StartupNotify=true
Terminal=false
Type=Application
